@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Qwitcher+Grypen&family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;  
} 
body {
    background: white;
    margin: 0px;
    padding: 0px;
}

#root {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow: hidden;
}

.divCenter {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    left: 30%;
}

.divWelcome {
    background-image: url(/assets/fondo.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    height: 100vh;
    padding: 0px;
    min-height: 100vh;
}
.titleWelcome, .titleWelcome2, .titleWelcome3 {
    color: #233D36;
    font-size: 53px;
    font-family: 'Qwitcher Grypen', cursive;
    font-weight: bold;
}

.titleWelcome{
    padding-top: 25vh; /* 100px */
}
.titleWelcome3{
   margin-bottom: 5vh;
} 

.buttonLogin {
    background-color: #52926D;
    color: #fdfdfd;
    border-radius: 3px;
    width: 190px;
    height: 36px;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
}

.paragraphWelcome {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.buttonRegister {
    color: #041322;
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border-radius: 3px;
    margin-bottom: 10px; 
}

/*Pagina login*/
/*  .divLogin{

}  */
.containerBackL {
    display: block;
    /*align-items: flex-start;*/
    /* flex-flow: row; */
    justify-content: space-between;
    flex-direction: row;
    /* position: fixed; */
    width: 100%;
    background: #52926D;
}

.buttonBackL {
    position: absolute;
    top: 2vh;
    width: 30px;
    height: 30px;
}
.headerLogin {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #0E0101;
    padding-top: 3.5vh;
    
}

.divCenterL {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 85vw;
    /* height: 60vh; */
    /* margin-top: 40px 20px 20px 20px; */
    margin: 40px 20px 20px 20px;
    left: 40%;
    padding: 3px;
    background: rgba( 218, 238, 231, 0.8 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.tittleLogin {
    color: #233D36;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0px;
    margin-bottom: 10px;
}

.buttonGoogle{
    margin-bottom: 10px; 
}

.buttonGithub, .buttonTwitter {
    border-radius: 3px;
    width: 185px;
    height: 40px;
    align-items: center;
    padding: 3px;
    margin-bottom: 10px;
}

.paragraphLogin {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
}

.inputMail, .inputPasw {
    background-color: #EBECFC;
    border-color: #EBECFC;
    color: #233D36;
    border-radius: 3px;
    width: 190px;
    height: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
}

.paragraphReg {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.buttonRegisterReturn {
    color: #233D36;
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    align-items: center;
    border-radius: 3px;
}

/*Fin pagina login*/

/* REGISTER STYLES ////////////// */

.containerBack {
    display: block;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    background: #52926D;
}

.buttonBack{
    position: absolute;
    top: 2vh;
    width: 30px;
    height: 30px;
}
.headerRegister {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 3.5vh;
    
}

.divCenterR {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 85vw;
    margin: 40px 20px 20px 20px;
    left: 40%;
    padding: 3px;
    background: rgba( 218, 238, 231, 0.8 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.titleRegister {
    font-family: 'Inter', sans-serif;
    font-weight: 70px;
    font-size: 24px;
    line-height: 29px;
    color: #233D36;
    margin-bottom: 15px;
}
.inputUser{
    width: 247px;
    height: 37px;
    border-radius: 3px;
    margin-bottom: 13px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 17px;
    border-color: #EBECFC;
    background-color: #EBECFC;
    color: #233D36;
}
.inputRegister {
    width: 247px;
    height: 37px;
    border-radius: 3px;
    margin-bottom: 13px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 17px;
    border-color: #EBECFC;
    background-color: #EBECFC;
    color: #233D36;
}

/*Mensajes de error */
.errorMessagesR {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    color: rgb(147, 8, 8);
    margin-top: 0px;
    margin-bottom: 3px;
}

/* Botón registro */
.buttonRegisterL {
    width: 247px;
    height: 37px;
    background: #52926D;
    border-radius: 3px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #F9F9F9;
}

/* Terminos y condiciones */
.termsLegend {
    width: 242px;
    height: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    align-items: center;
    text-align: center;
    color: #000000;
}

.containerQuestion {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ¿Ya tienes una cuenta? */
.paragraph2 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #233D36;
    margin-right: 1px;
    padding: 0%;
}

/* Inicia sesión */
.hrefLogin {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 17px;
    color: #233D36;
    text-decoration: underline;
    font-weight: bold;
    margin-left: auto;
    padding: 0%;
}
/* /////// WALL //////////*/
.headerWall{ 
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 40px;
    /*align-items: center;*/
    padding-top: 3.5vh;
    /*justify-content: center;*/
    width: 70px;
    margin-left: 50vw;
    margin-top: 5%;
    transform:translate(-50%, -50%);
}
.titlePost {
    font-family: 'Inter', sans-serif;
    font-weight: 70px;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 15px;
    color: #233D36 ;
}

.paragraphWall{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    left: 8vw;
    color : #233D36;
}
.inputPost {
    width: 70vw;
    height: 60px;
    border-radius: 10px;
    border-color: #EBECFC; 
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 17px;
    background: rgba( 82, 146, 109, 0.65 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 12px );
-webkit-backdrop-filter: blur( 12px );
 /* border-radius: 10px; */
border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: black;
}
/* .buttonPost{
    width: 15vw;
    height: 54px;
    margin-top: 15px;
} */
.paragraphNoNewsWall {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 85vw;
    height: 60vh;
    border-radius: 10px;
    border-color: #EBECFC; 
    margin-bottom: 13px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 17px;
    background: rgba( 82, 146, 109, 0.35 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 7.5px );
-webkit-backdrop-filter: blur( 7.5px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding-top: 5vh;
    margin-left: 0px;
}
.divCenterW {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 8vw;
    left: 30%;
}

.sectionAll {
    /* height: 50px; */
    background: rgba( 82, 146, 109, 0.65 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 12px );
-webkit-backdrop-filter: blur( 12px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: 20px;
    color: black;
}

.textPosts{ 
 padding: 20px;
 font-family: 'Inter', sans-serif;
 font-size: 18px;
}

.usertitle {
    font: bolder;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}
.iconSection1 {
    display: flex;
    flex-direction: row;
}
.iconDelete, .iconEdit {
    height: 3vh;
    justify-content: right;
   
}
img{
    border: solid transparent;
}
.iconDelete{
    margin-left: 80%;
    margin-right: 2%;
}
.iconLike, .iconComment {
    width: 5vw;
    height: 5vh;
}
.iconLike{
    margin-left: 20%;
    transition: all .5s;
}
.counterLikes{
    margin-right: 40%;
}

.iconSection {
    display: flex;
    flex-direction: row;
}

.iconLike:hover{
    background-color: pink;
    box-shadow: 0 0 20px greenyellow; 
    /* filter: drop-shadow(20px  pink); */
}
.iconEdit:hover{
    background-color: white;
    box-shadow: 0 0 20px greenyellow;
}
.iconComment:hover{
    background-color: white;
    box-shadow: 0 0 20px greenyellow;
}




