@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Qwitcher+Grypen&family=Staatliches&display=swap');



body {
background-image: url(/assets/fondo.webp);
background-size: cover;
background-attachment: fixed;
background-position: center;
}

.divWelcome{
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
margin-top: 70px; 

}

 .titleWelcome {
font-size: 53px;
font-family: 'Qwitcher Grypen', cursive;
margin-bottom: 15px;
}

.buttonLogin{
background-color: #041322;
color: #fdfdfd;
border-radius: 10px;
width: 190px;
height: 36px; 
align-items: center;
font-family: 'Inter', sans-serif;
font-size: 16px;
}

.paragraphWelcome{
font-family: 'Inter', sans-serif;
font-size: 14px;
}

.buttonRegister{
color: #041322;
text-decoration: underline;
font-weight: bold;
font-family: 'Inter', sans-serif;
font-size: 16px;
};

.divLogin {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}