@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Qwitcher+Grypen&family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;  
} 
body {
    background-color: rgba(248, 243, 243, 0.54);
    margin: 0px;
    padding: 0px;
}

#root {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow: hidden;
}

.divCenter {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    left: 30%;
}

.divWelcome {
    background-image: url(/assets/fondo.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    height: 100vh;
    padding: 0px;
    min-height: 100vh;
}
.titleWelcome {
    color: #557F04;
    font-size: 53px;
    font-family: 'Qwitcher Grypen', cursive;
    font-weight: bold;
    margin-bottom: 15px;
    padding-top: 30vh; /*100px */
}

.buttonLogin {
    background-color: #041322;
    color: #fdfdfd;
    border-radius: 3px;
    width: 190px;
    height: 36px;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
}

.paragraphWelcome {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.buttonRegister {
    color: #041322;
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border-radius: 3px;
    margin-bottom: 10px; 
}

/*Pagina login*/
/*  .divLogin{

}  */
.containerBackL {
    display: block;
    /*align-items: flex-start;*/
    /* flex-flow: row; */
    justify-content: space-between;
    flex-direction: row;
    /* position: fixed; */
    width: 100%;
}

.buttonBackL {
    position: absolute;
    top: 2vh;
}
.headerLogin {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #0E0101;
    padding-top: 3.5vh;
    
}

.divCenterL {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    left: 30%;
}

.tittleLogin {
    color: #557F04;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0px;
    margin-bottom: 10px;
}

.buttonGoogle{
    margin-bottom: 10px; 
}

.buttonGithub, .buttonTwitter {
    border-radius: 3px;
    width: 185px;
    height: 40px;
    align-items: center;
    padding: 3px;
    margin-bottom: 10px;
}

.paragraphLogin {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
}

.inputMail, .inputPasw {
    background-color: #e8e8e8;
    color: #041322;
    border-radius: 3px;
    width: 190px;
    height: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
}

.paragraphReg {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.buttonRegisterReturn {
    color: #557F04;
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    align-items: center;
    border-radius: 3px;
}

/*Fin pagina login*/

/* REGISTER STYLES ////////////// */

.containerBack {
    display: block;
    /*align-items: flex-start;*/
    /* flex-flow: row; */
    justify-content: space-between;
    flex-direction: row;
    /* position: fixed; */
    width: 100%;
}

.buttonBack{
    position: absolute;
    top: 2vh;
}
.headerRegister {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #0E0101;
    padding-top: 3.5vh;
    
}

.divCenterR {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    left: 30%;
}

.titleRegister {
    font-family: 'Inter', sans-serif;
    font-weight: 70px;
    font-size: 24px;
    line-height: 29px;
    color: #557F04;
    margin-bottom: 15px;
}

.inputRegister {
    width: 247px;
    height: 37px;
    border-radius: 3px;
    margin-bottom: 13px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 17px;
    background-color: #e8e8e8;
    color: #041322;
}

/*Mensajes de error */
.errorMessagesR {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    color: rgb(147, 8, 8);
    margin-top: 0px;
    margin-bottom: 3px;
}

/* Botón registro */
.buttonRegisterL {
    width: 247px;
    height: 37px;
    background: #557F04;
    border-radius: 3px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #F9F9F9;
}

/* Terminos y condiciones */
.termsLegend {
    width: 242px;
    height: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    align-items: center;
    text-align: center;
    color: #000000;
}

.containerQuestion {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ¿Ya tienes una cuenta? */
.paragraph2 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-right: 1px;
    padding: 0%;
}

/* Inicia sesión */
.hrefLogin {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 17px;
    color: #557F04;
    text-decoration: underline;
    font-weight: bold;
    margin-left: auto;
    padding: 0%;
}
/* /////// WALL //////////*/
.headerWall{ 
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    /*align-items: center;*/
    padding-top: 3.5vh;
    /*justify-content: center;*/
    width: 50px;
    margin-left: 40vw;
}
.titlePost {
    font-family: 'Inter', sans-serif;
    font-weight: 70px;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 15px;
}

.paragraphWall{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    left: 8vw;
}
.inputPost {
    width: 70vw;
    height: 54px;
    border-radius: 10px;
    border-color: #EBECFC; 
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 17px;
    background-color: #EBECFC;
    color: rgba(0, 0, 0, 0.54);
}
/* .buttonPost{
    width: 15vw;
    height: 54px;
    margin-top: 15px;
} */
.paragraphNoNewsWall {
    width: 85vw;
    height: 50vh;
    border-radius: 10px;
    border-color: #EBECFC; 
    margin-bottom: 13px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 17px;
    background-color: #EBECFC;
    color:rgba(0, 0, 0, 0.54);
    padding-top: 5vh;
    margin-left: 0px;
}
.divCenterW {
    display: flex;
    flex-direction: column;
    /* text-align: center;
    align-items: center; */
    margin-top: 40px;
    margin-left: 8vw;
    left: 30%;
}

/*olis crayolis*/

